@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="Index.cshtml.css">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://i.ibb.co/q5191x8/image-59922ccc-8cad-4d6d-99e9-20e63dd7fdb2.png" alt="image-59922ccc-8cad-4d6d-99e9-20e63dd7fdb2" border="0">
    <p>Welcome to System Of River Stations.</p>
</div>
